name: Test CVMFS images

on:
  workflow_run:
    workflows: ["Create images"]
    types:
      - completed
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  list-cvmfs:
    strategy:
      fail-fast: false
      matrix:
        image: ["alma9-cvmfs", "ubuntu22-cvmfs", "ubuntu24-cvmfs"]
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/key4hep/key4hep-images/${{ matrix.image }}
      options: --privileged
    steps:
      - name: Set up cvmfs
        run: /mount.sh
      - name: List contents of /cvmfs
        run: ls -l /cvmfs/sw.hsf.org/
