name: Reusable docker build template
description: |
  This workflow builds the image for a specific architecture and pushes it to the registry.

on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      runner:
        required: true
        type: string
      platform:
        required: true
        type: string
      registry:
        required: true
        type: string
      image-type:
        required: true
        type: string
    outputs:
      image-uri:
        description: "The URI of the built image with digest"
        value: ${{ jobs.build-and-push.outputs.image-uri }}

permissions:
  contents: read
  packages: write
  id-token: write
  attestations: write

jobs:
  build-and-push:
    runs-on: ${{ inputs.runner }}
    outputs:
      image-uri: ${{ inputs.registry }}/${{ github.repository_owner }}/key4hep-images/${{ inputs.os }}-${{ inputs.image-type }}:${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.version'] }}-${{ inputs.platform }}@${{ steps.build.outputs.digest }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.registry }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Compose Image Name
        id: image_name
        run: |
          if [ "${{ inputs.image-type }}" == "build" ]; then
            echo "IMAGE_NAME=${{ inputs.registry }}/${{ github.repository_owner }}/key4hep-images/${{ inputs.os }}" >> $GITHUB_OUTPUT
          else
            echo "IMAGE_NAME=${{ inputs.registry }}/${{ github.repository_owner }}/key4hep-images/${{ inputs.os }}-${{ inputs.image-type }}" >> $GITHUB_OUTPUT
          fi
      - name: Docker Meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ steps.image_name.outputs.IMAGE_NAME }}
          flavor: latest=false,suffix=-${{ inputs.platform }}
      - name: Build and Push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/${{ inputs.platform }}
          context: ./Docker/${{ inputs.os }}/${{ inputs.os }}-${{ inputs.image-type }}
          file: ./Docker/${{ inputs.os }}/${{ inputs.os }}-${{ inputs.image-type }}/Dockerfile
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}