# This workflow creates docker images that are then used for:
#
# - Key4hep packages CI
# 
# All created images are then uploaded to GitHub Container registry

name: Create images

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  REGISTRY: ghcr.io

jobs:
  # Image for running key4hep
  build:
    strategy:
      fail-fast: false
      matrix:
        image: ["alma9", "ubuntu22", "ubuntu24"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Docker Meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository_owner }}/key4hep-images/${{ matrix.image }}
      - name: Build and Push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          push: ${{ github.event_name != 'pull_request' }}
          platforms: linux/amd64, linux/arm64
          context: ./Docker/${{ matrix.image }}/${{ matrix.image }}-build
          file: ./Docker/${{ matrix.image }}/${{ matrix.image }}-build/Dockerfile
          #tags: ${{ env.REGISTRY }}/${{ github.repository_owner }}/key4hep-images/${{ matrix.image }}:${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.version'] }}
          tags: ${{ env.REGISTRY }}/${{ github.repository_owner }}/key4hep-images/${{ matrix.image }}:latest
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=registry,ref=${{ env.REGISTRY }}/${{ github.repository_owner }}/key4hep-images/${{ matrix.image }}:buildcache
          cache-to: ${{ github.event_name != 'pull_request' && format('type=registry,ref={0}/{1}/key4hep-images/{2}:buildcache,mode=max', env.REGISTRY, github.repository_owner, matrix.image) || '' }}
  build-cvmfs:
    needs: build
    strategy:
      fail-fast: false
      matrix:
        image: ["alma9", "ubuntu22", "ubuntu24"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Docker Meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository_owner }}/key4hep-images/${{ matrix.image }}
      - name: Build base image locally
        uses: docker/build-push-action@v6
        with:
          push: false
          load: true
          platforms: linux/amd64
          context: ./Docker/${{ matrix.image }}/${{ matrix.image }}-build
          file: ./Docker/${{ matrix.image }}/${{ matrix.image }}-build/Dockerfile
          tags: base-image:local
          cache-from: type=registry,ref=${{ env.REGISTRY }}/${{ github.repository_owner }}/key4hep-images/${{ matrix.image }}:buildcache
      - name: Build and load amd64 for testing
        uses: docker/build-push-action@v6
        with:
          push: false
          load: true
          platforms: linux/amd64
          context: ./Docker/${{ matrix.image }}/${{ matrix.image }}-cvmfs
          file: ./Docker/${{ matrix.image }}/${{ matrix.image }}-cvmfs/Dockerfile
          build-args: |
            BASE_IMAGE=base-image:local
          build-contexts: |
            base-image:local=docker-image://base-image:local
          tags: ${{ env.REGISTRY }}/${{ github.repository_owner }}/key4hep-images/${{ matrix.image }}-cvmfs:ci
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=registry,ref=${{ env.REGISTRY }}/${{ github.repository_owner }}/key4hep-images/${{ matrix.image }}-cvmfs:buildcache
          cache-to: type=local,dest=/tmp/cvmfs-buildcache,mode=max
      - name: Test cvmfs in image
        run: >-
          docker run --rm --privileged
          ${{ env.REGISTRY }}/${{ github.repository_owner }}/key4hep-images/${{ matrix.image }}-cvmfs:ci
          /bin/bash -lc "ls -l /cvmfs/sw.hsf.org/ && ls /cvmfs/sw.hsf.org/ | grep -q ."
      - name: Build and push all platforms
        if: ${{ github.event_name != 'pull_request' }}
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/amd64, linux/arm64
          context: ./Docker/${{ matrix.image }}/${{ matrix.image }}-cvmfs
          file: ./Docker/${{ matrix.image }}/${{ matrix.image }}-cvmfs/Dockerfile
          build-args: |
            BASE_IMAGE=${{ env.REGISTRY }}/${{ github.repository_owner }}/key4hep-images/${{ matrix.image }}:latest
          #tags: ${{ env.REGISTRY }}/${{ github.repository_owner }}/key4hep-images/${{ matrix.image }}-cvmfs:${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.version'] }}
          tags: ${{ env.REGISTRY }}/${{ github.repository_owner }}/key4hep-images/${{ matrix.image }}-cvmfs:latest
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=local,src=/tmp/cvmfs-buildcache
          cache-to: type=registry,ref=${{ env.REGISTRY }}/${{ github.repository_owner }}/key4hep-images/${{ matrix.image }}-cvmfs:buildcache,mode=max
