# This workflow creates docker images that are then used for:
#
# - Key4hep packages CI
# 
# All created images are then uploaded to GitHub Container registry

name: Create images

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/image-template.yaml
    strategy:
      fail-fast: false
      matrix:
        image: ["alma9", "ubuntu22", "ubuntu24"]
    with:
      image: ${{ matrix.image }}
      registry: ghcr.io
      image-type: build
  build-cvmfs:
    needs: build
    uses: ./.github/workflows/image-template.yaml
    strategy:
      fail-fast: false
      matrix:
        image: ["alma9", "ubuntu22", "ubuntu24"]
    with:
      image: ${{ matrix.image }}
      registry: ghcr.io
      image-type: cvmfs