name: Test images

on:
  workflow_run:
    workflows: ["Create images"]
    types:
      - completed
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-cvmfs:
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}
    strategy:
      fail-fast: false
      matrix:
        image: ["alma9", "alma10", "ubuntu22", "ubuntu24"]
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/key4hep/key4hep-images/${{ matrix.image }}-cvmfs
      options: --privileged
    steps:
      - name: Set up cvmfs
        run: /mount.sh
      - name: List contents of /cvmfs
        run: |
          ls -l /cvmfs/sw.hsf.org/ && ls /cvmfs/sw.hsf.org/ | grep -q .
          ls -l /cvmfs/sw-nightlies.hsf.org/ && ls /cvmfs/sw-nightlies.hsf.org/ | grep -q .
